<tr class="collection_item fields" id="spree_<%= dom_id(f.object) %>"  data-hook="collection_item" class="<%= cycle('odd', 'even')%>">
  <td class="no-border">
    <span class="handle"></span>
    <%= f.hidden_field :id %>
  </td>
  <td class="collectionable_type"><%= f.select :collectionable_type, options_for_select([['Product', 'Spree::Product'],['Taxon', 'Spree::Taxon']], f.object.collectionable_type ) %></td>
  <td class="collectionable_id"><%= f.text_field :collectionable_id %></td>
  <td class="html_class"><%= f.text_field :html_class %></td>
  <td class="actions"><%= link_to_remove_fields Spree.t(:remove), f, :no_text => true %></td>
</tr>