<% content_for :page_actions do %>
  <%= button_link_to(Spree.t(:add_collection_item), "javascript:;", { :icon => 'add', :'data-target' => "tbody#collection_items", :class => 'btn-success spree_add_fields' }) %>
  <%= button_link_to Spree.t(:back_to_collections_list), spree.admin_collections_path, :icon => 'icon-arrow-left' %>
<% end %>

<% content_for :page_title do %>
  / <%= Spree.t(:editing_collection) %> <span class="green">"<%= @collection.name %>"</span>
<% end %>

<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @collection } %>

<%= form_for [:admin, @collection] do |f| %>
  <fieldset>
    <legend align="center"><%= Spree.t(:collection_items) %></legend>

    <%= render :partial => 'form', :locals => { :f => f } %>

    <table class="index sortable" data-hook data-sortable-link="<%= update_items_positions_admin_collections_url %>">
      <thead data-hook="option_header">
        <tr>
          <th colspan="2" width="15%"><%= Spree.t(:collectionable_type) %></th>
          <th width="10%"><%= Spree.t(:collectionable_id) %></th>
          <th width="15%"><%= Spree.t(:partial_override) %></th>
          <th width="45%"><%= Spree.t(:description) %></th>
          <th class="actions"></th>
        </tr>
      </thead>
      <tbody id="collection_items">
        <% if @collection.collection_items.empty? %>
          <tr id="none" data-hook="collection_none" class="<%= cycle('odd', 'even')%>">
            <td colspan="5"><%= Spree.t(:none) %></td>
            <td class="actions"></td>
          </tr>
        <% else %>
          <%= f.fields_for :collection_items do |collection_item_form| %>
            <%= render :partial => 'collection_item_fields', :locals => { :f => collection_item_form } %>
          <% end %>
        <% end %>
      </tbody>
    </table>

    <%= render :partial => 'spree/admin/shared/edit_resource_links' %>
  </fieldset>
<% end %>

<p>Search Product ID</p>
<p><%= hidden_field_tag "['donotsave'][product_ids_string]", '' , :class => "product_picker_single fullwidth" %></p>
<p>Search Taxon ID</p>
<p><%= hidden_field_tag "['donotsave'][taxon_ids_string]", '' , :class => "taxon_picker_single fullwidth" %></p>