

<% content_for :page_title do %>
  <%= Spree.t(:collections) %>
<% end %>

<% content_for :page_actions do %>
  <%= button_link_to Spree.t(:new_collection), new_admin_collection_url, { :remote => true, :icon => 'icon-plus', :id => 'new_collection_link' } %>
<% end %>

<div id="new_collection"></div>

<% if @collections.any? %>
  <table class="table" id="listing_collections">
    <thead>
      <tr data-hook="admin_collections_index_header">
        <th><%= Spree.t(:name) %></th>
        <th data-hook="admin_collections_index_header_actions" class="actions"></th>
      </tr>
    </thead>
    <tbody>
      <% @collections.each do |collection| %>
        <tr class="spree_collection <%= cycle('odd', 'even')%>" id="<%= spree_dom_id collection %>" data-hook="option_row">
          <td><%= collection.name %></td>
          <td class="actions actions-2 text-right">
            <%= link_to_edit collection, no_text: true, class: 'edit' if can?(:edit, collection) %>
            <%= link_to_delete collection, no_text: true if can?(:delete, collection) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="alpha twelve columns no-objects-found">
    <%= Spree.t(:no_resource_found, resource: I18n.t(:other, scope: 'activerecord.models.spree/collection')) %>,
    <%= link_to Spree.t(:add_one), spree.new_admin_collection_path %>!
  </div>
<% end %>